<div class="main-text-container">
	<h1>Blog</h1>
	<div class="row">
		<div class="col-sm-12">
			<div class="categories-container">
				<a href="/blog" class="active blog-categories-list">All tags</a>
				{{# each data.categories }}
				<a href="{{categoryUrl key}}" class="false blog-categories-list">{{name}}</a>
				{{/each}}
			</div>
		</div>
	</div>	
	<div class="row">
		<div class="col-sm-12">
			<!-- <h4 class="text-weight-normal">Showing {{ data.posts.results.length}} post.</h4> -->
			<div class="blog">
				{{# each data.posts.results}}
				<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
					<div class="blog-container">
						<h2><a href="{{postUrl slug}}">{{{title}}}</a></h2>
						<p class="lead text-muted">{{{categoryList categories prefix="Posted in "}}}
								{{#if author.name.first}}by {{author.name.first}}{{/if}}
						</p>
						<!-- {{#if post.image.exists}} -->
							<img src="http://res.cloudinary.com/keystone-demo/image/upload/v1463759981/wyf8n2gavo4n4iviptqd.jpg" width=160 height=160 crop='fit'/>
							<!-- {{{ post.image image width=160 height=160 crop='fit' }}} -->
						<!-- {{/if}} -->
						<p>{{{content.brief}}}</p>
						<p class="read-more"><a href="{{postUrl slug}}">Read more...</a></p>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	{{>pagination}}
</div>

