<div class="main-text-container">
	<h1>Events</h1>
	<!-- if events -->
	{{#if events}}
		{{#each events}}
		<div class="event-container">
			<h2 class="event-head">
				{{name}} @ <a target="_blank" href="{{ location_url }}">{{ location }}</a>
			</h2>
			<p class="event-text">
				<!-- {{ date date }} uses handlebars helper where the first is the name of the helper and the second is the key from the db -->
				{{date date}}
			</p>
			<p class="event-text">	
				Doors: {{ time start_at }}–{{ time end_at}}
			</p>
			<p class="event-text">	
				Tickets: £{{ price }}
			</p>
			<!-- <p class="event-text">	
				<a target="_blank" href="{{ location_url }}">{{ location_url }}</a>
			</p> -->
		</div>
		{{/each}}
	{{else}}
	<!-- else -->
	<h3 class="text-muted">There are no events yet.</h3>
	{{/if}}
</div>