<div class="container">
	<h1>Events</h1>
</div>

<div class="container">
	<!-- if events -->

	{{#if events}}

		{{#each events}}
		<h3>
			{{name}}
		</h3>
		<h4>
			at {{location}}
		</h4>
		<h4>
			<!-- {{ date date }} uses handlebars helper where the first is the name of the helper and the second is the key from the db -->
			on {{date date}} 
			from {{ time start_at }} 
			to {{ time end_at}} 
		</h4>
		{{/each}}
	{{else}}
	<!-- else -->
	<h3 class="text-muted">There are no events yet.</h3>
	{{/if}}
</div>