<div class="main-text-container">
	<h1>Testimonials</h1>

	<!-- if galleries -->
	{{#if testimonials}}
		{{#each testimonials}}
		<p class="main-text">
			{{quote}}
		<br>
			– {{#if url_name}}
				<i>{{ author }},</i>
				{{#if url}}
					<i><a target="_blank" href="https://{{ url }}">{{url_name}}</a></i>
				{{else}}
					<i>{{ url_name }}</i>
				{{/if}}
			{{else}}
				<i>{{ author }}</i>
			{{/if}}	
		</p>
		{{/each}}
	{{else}}
	<!-- else -->
	<h3 class="text-muted">There are no testimonials yet.</h3>
	{{/if}}
</div>