<div class="container">
	<h1>Testimonials</h1>
</div>

<div class="container">
	<!-- if galleries -->
	{{#if testimonials}}
		{{#each testimonials}}
		<h4>
			{{quote}}
		</h4>
		<h3>
			{{#if url_name}}
				{{ author }},
				{{#if url}}
					<a target="_blank" href="https://{{ url }}">{{url_name}}</a>
				{{else}}
					{{ url_name }}
				{{/if}}
			{{else}}
				{{ author }}
			{{/if}}	
		</h3>
		{{/each}}
	{{else}}
	<!-- else -->
	<h3 class="text-muted">There are no testimonials yet.</h3>
	{{/if}}
</div>