<div class="container">
	<h1>Testimonials</h1>
</div>

<div class="container">
	<!-- if galleries -->
	{{#if testimonials}}
		{{#each testimonials}}
		<h4>
			"{{content.quote}}"
		</h4>
		<h3>
			{{content.author}}, 
			<a target="_blank" href="https://{{content.url}}">{{content.url_name}}</a>
		</h3>
		{{/each}}
	{{else}}
	<!-- else -->
	<h3 class="text-muted">There are no testimonials yet.</h3>
	{{/if}}
</div>